<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script> 
  <script>
    (function () {
      function MainController () {
        var vm = this;
        vm.count = 0;

        vm.reset = function () {
          vm.count = 0;
        }

        vm.increment = function () {
          vm.count++;
        }

        vm.decrement = function () {
          vm.count--;
        }
      }

      angular
        .module('app', [])
        .controller('mainController', MainController);
    })();
  </script>
</head>
<body ng-app="app">
  <div ng-controller="mainController as vm">
    <h2>Counter App</h2>

    <div>{{vm.count}}</div>

    <button ng-click="vm.increment()">+</button>
    <button ng-click="vm.decrement()">-</button>
    <button ng-click="vm.reset()">reset</button>
  </div>
</body>
</html>

